# Export Pandas DataFrames to CSV and Excel files

### Load the data

In [1]:
import pandas as pd

# Create a data frame (load the data from an excel file)
filename = 'Ex_Files_Python_for_Data_Vis/Exercise Files/Pandas/data/car_financing.xlsx'
df = pd.read_excel(filename)

In [2]:
# Check the first few rows of data
df.head()

,Month,Starting Balance,Repayment,Interest Paid,Principal Paid,New Balance,term,interest_rate,car_type
0,1,34689.96,687.23,202.93,484.30,34205.66,60,0.0702,Toyota Sienna
1,2,34205.66,687.23,200.10,487.13,33718.53,60,0.0702,Toyota Sienna
2,3,33718.53,687.23,197.25,489.98,33228.55,60,0.0702,Toyota Sienna
3,4,33228.55,687.23,194.38,492.85,32735.70,60,0.0702,Toyota Sienna
4,5,32735.70,687.23,191.50,495.73,32239.97,60,0.0702,Toyota Sienna

### Export the dataframe

In [4]:
# Export to CSV file
df.to_csv(path_or_buf='Throw_Away/table_canDeleteWhenever1.csv',
          index = False)

In [6]:
# Export to Excel file
df.to_excel(excel_writer='Throw_Away/table_canDeleteWhenever2.xlsx',
          index = False)